
.sideBar.am-drawer{
    position: relative;
    overflow: auto;
    touch-action: none;
    -webkit-overflow-scrolling: touch;
}
.sideBar .am-drawer-sidebar {
    background-color: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.sideBar .am-list {
    padding: 0;
}
.side-item{
    display: flex;
    align-items: center;
}
.side-item .am-list-thumb img{
    width: 40px;
    height: 40px;
}